
@{
    Layout = null;
}

<header>
    <div class="container-fluid container-lg hdf-header">
        <div class="row">
            <div class="col-12 col-lg-3 border border-dark short-hdf-menu">
                <a href="#" class="menu-bar d-lg-none">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <a href="home.html" class="nav-brand">
                    <img src="assets/images/logo-hdf.png" alt="hdf" />
                </a>
                <a href="#" class="filter d-lg-none">
                    <i class="fa-solid fa-filter"></i>
                </a>
            </div>
            <div class="col-lg-9 hdf-menu d-none d-lg-flex justify-xl-end">
                <ul class="hdf-menu-list">
                    <li class="hdf-menu-home">
                        <a href="#" class="hdf-menu-home-link">
                            <i class="fa-solid fa-house"></i>
                        </a>
                    </li>
                    <li class="hdf-menu-item">
                        <a href="films.html" class="hdf-menu-item-link"> Filmler </a>
                    </li>
                    <li class="hdf-menu-item">
                        <a href="series.html" class="hdf-menu-item-link"> Diziler </a>
                    </li>
                    <li class="hdf-menu-item">
                        <a class="hdf-menu-item-link">
                            Yapim Yili <i class="fa-solid fa-caret-down"></i>
                        </a>
                        <ul class="year-list">
                            <li class="year-item">
                                <a href="serieFilms.html" class="year-link">2023</a>
                            </li>
                            <li class="year-item">
                                <a href="serieFilms.html" class="year-link">2022</a>
                            </li>
                            <li class="year-item">
                                <a href="serieFilms.html" class="year-link">2021</a>
                            </li>
                            <li class="year-item">
                                <a href="serieFilms.html" class="year-link">2020</a>
                            </li>
                            <li class="year-item">
                                <a href="serieFilms.html" class="year-link">2019</a>
                            </li>
                            <li class="year-item">
                                <a href="serieFilms.html" class="year-link">2018</a>
                            </li>
                            <li class="year-item">
                                <a href="serieFilms.html" class="year-link">2017</a>
                            </li>
                            <li class="year-item">
                                <a href="serieFilms.html" class="year-link">2016</a>
                            </li>
                            <li class="year-item">
                                <a href="serieFilms.html" class="year-link">2015</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hdf-menu-item">
                        <a href="serieFilms.html" class="hdf-menu-item-link"> Seri Filmler </a>
                    </li>
                </ul>
                <div class="account">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               placeholder="Film veya Dizi Ara" />
                    </div>
                    <!-- <ul class="account-list">
                      <li class="account-item">
                        <a href="#" class="account-link">Kayit Ol</a>
                      </li>
                      <li class="account-item">
                        <a href="#" class="account-link lock rounded"
                          ><i class="fa-solid fa-lock"></i> Giris Yap</a
                        >
                      </li>
                    </ul> -->

                    <ul class="account-list signed">
                        <li class="account-item">
                            <a href="#" class="account-user user">
                                <img src="assets/images/avatars/avatar.png" alt="user" />
                                <span class="mx-2">Virtual-Man</span>
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                            <ul class="user-actions">
                                <li class="user-action-item">
                                    <a href="#" class="user-action">Son Yorumlarım</a>
                                </li>
                                <li class="user-action-item">
                                    <hr>
                                </li>
                                <li class="user-action-item">
                                    <a href="#" class="user-action">Takip Edilen Filmler</a>
                                </li>
                                <li class="user-action-item">
                                    <a href="#" class="user-action">Takip Edilen Diziler</a>
                                </li>
                                <li class="user-action-item">
                                    <hr>
                                </li>
                                <li class="user-action-item">
                                    <a href="#" class="user-action">İzlenilen Filmler</a>
                                </li>
                                <li class="user-action-item">
                                    <a href="#" class="user-action">İzlenilen Diziler</a>
                                </li>
                                <li class="user-action-item">
                                    <hr>
                                </li>
                                <li class="user-action-item">
                                    <a href="#" class="user-action">Profil Ayarları</a>
                                </li>
                                <li class="user-action-item">
                                    <a href="#" class="user-action">Çıkış Yap</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 hdf-short-menu">
                <ul class="hdf-menu-list">
                    <li class="hdf-menu-home">
                        <a href="#" class="hdf-menu-home-link">
                            <i class="fa-solid fa-house"></i>
                        </a>
                    </li>
                    <li class="hdf-menu-item">
                        <a href="#" class="hdf-menu-item-link"> Filmler </a>
                    </li>
                    <li class="hdf-menu-item">
                        <a href="#" class="hdf-menu-item-link"> Diziler </a>
                    </li>
                    <li class="hdf-menu-item">
                        <a href="#" class="hdf-menu-item-link">
                            Yapim Yili <i class="fa-solid fa-caret-down"></i>
                        </a>
                        <ul class="year-list">
                            <li class="year-item">
                                <a href="#" class="year-link">2023</a>
                            </li>
                            <li class="year-item">
                                <a href="#" class="year-link">2022</a>
                            </li>
                            <li class="year-item">
                                <a href="#" class="year-link">2021</a>
                            </li>
                            <li class="year-item">
                                <a href="#" class="year-link">2020</a>
                            </li>
                            <li class="year-item">
                                <a href="#" class="year-link">2019</a>
                            </li>
                            <li class="year-item">
                                <a href="#" class="year-link">2018</a>
                            </li>
                            <li class="year-item">
                                <a href="#" class="year-link">2017</a>
                            </li>
                            <li class="year-item">
                                <a href="#" class="year-link">2016</a>
                            </li>
                            <li class="year-item">
                                <a href="#" class="year-link">2015</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hdf-menu-item">
                        <a href="#" class="hdf-menu-item-link"> Seri Filmler </a>
                    </li>
                </ul>
                <div class="account">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               placeholder="Film veya Dizi Ara" />
                    </div>
                    <ul class="account-list">
                        <li class="account-item">
                            <a href="#" class="account-link">Kayit Ol</a>
                        </li>
                        <li class="account-item">
                            <a href="#" class="account-link lock rounded"><i class="fa-solid fa-lock"></i> Giris Yap</a>
                        </li>
                    </ul>
                    <ul class="account-list signed">
                        <li class="account-item">
                            <a href="#" class="account-user user">
                                <img src="assets/images/avatars/avatar.png" alt="user" />
                                <span class="mx-2">Virtual-Man</span>
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                            <ul class="user-actions">
                                <li class="user-action-item">
                                    <a href="#" class="user-action">Son Yorumlarım</a>
                                </li>
                                <li class="user-action-item">
                                    <hr>
                                </li>
                                <li class="user-action-item">
                                    <a href="#" class="user-action">Takip Edilen Filmler</a>
                                </li>
                                <li class="user-action-item">
                                    <a href="#" class="user-action">Takip Edilen Diziler</a>
                                </li>
                                <li class="user-action-item">
                                    <hr>
                                </li>
                                <li class="user-action-item">
                                    <a href="#" class="user-action">İzlenilen Filmler</a>
                                </li>
                                <li class="user-action-item">
                                    <a href="#" class="user-action">İzlenilen Diziler</a>
                                </li>
                                <li class="user-action-item">
                                    <hr>
                                </li>
                                <li class="user-action-item">
                                    <a href="#" class="user-action">Profil Ayarları</a>
                                </li>
                                <li class="user-action-item">
                                    <a href="#" class="user-action">Çıkış Yap</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>