@model LoginVM
@{
    Layout = null;
}
<div class="error-message pe-4">
    @foreach (var message in Model.Messages)
    {
        <p class="text-white">@message</p>
    }

    <span class="close">&times;</span>
</div>
